Articles
<ul>
  <% @articles.each do |article| %>
  <li>
    <h4><%= article[:title] %></h4>
    <h4><a href="<%= article[:url] %>" target="_blank"><%= article[:url] %></a></h4>
    <h4><%= article[:description] %></h4>
  </li>
  <% end %>
</ul>
<a href="/articles/new">Add New Article</a>
