<h1>News Aggregator</h1>

<p>
  Instructions: Enter an Article Title, URL, Description, and click "Submit" to
  post an article to News Aggregator!
</p>

<form action="/articles/new" method="post">
  <p>
    <label for="title">Article Title</label>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="url">URL</label>
    <input type="text" name="url" id="url">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>
  <input type="submit" value="Submit">
</form>
